a {
    text-decoration: underline !important;
    color: #0000cc !important;
}
a.inline-flex {
    text-decoration: none !important;
    font-size: 14pt;
}

button.btn {
    position: relative;
    top: -1px;
    border-radius: 6px;
    font-weight: bold;
}
button.btn:hover {
    background-color: #0000ee;
}

label {
    font-weight: bold;
}

ul.linked li {
    list-style: revert;
    cursor: pointer;
    text-decoration: underline;
    color: #0000cc;
}

#sources {
    margin-bottom: 0.5rem;
}

#date_range {
    display: none;
}

#error {
    font-size: 10pt;
    color: red;
}

div.content {
    top: 4.5rem;
    margin: 2rem;
}

#subsites_to,
#subsites_from {
    min-width: 100%;
}

#loading {
    display: inline-block;
}

option {
    color: #000;
}

input[type=search] {
    outline-offset: 0;
}
input[name="excel"] {
    width: 30rem;
}

div.hidden,
img.hidden {
    visibility: hidden;
}

div.form-parts {
    float: left;
    margin-left: 3px;
}

td {
    font-size: 11pt;
}
td.align-top {
    vertical-align: top!important;
}

#type {
    margin-left: 8px;
}

#found,
#save_excel,
#results {
    position: relative;
    top: 0.5rem;
    clear: left;
}

#save_excel {
    display: none;
}

.highlight {
    color: #cc0000;
}
